<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/vue.js"></script>
    <title>计算属性简写</title>
</head>

<body>
    <div id="root">
        <h1>计算属性简写</h1>
        <hr>

        <div class="cal2">
            <h2>计算属性 {{name}}</h2>
            姓: <input type="text" placeholder="输入姓" v-model="fName"> <br> <br>
            名: <input type="text" placeholder="输入名" v-model="lName"><br><br>
            姓名：<span>{{fullName}}</span>
        </div>
    </div>
    <script>
        const vm = new Vue({
            data() {
                return {
                    name: "vue learn",
                    fName: "",
                    lName: ""
                }
            },
            computed: {
                // fullName: {
                //     get() {
                //         return this.fName + "-" + this.lName
                //     }
                // }

                //简写 get为一个函数
                // fullName:function(){
                //     console.log("get")
                //     return this.fName + "-" + this.lName
                // }
                fullName(){
                    console.log("get")
                    return this.fName + "-" + this.lName
                }
            }
        })
        vm.$mount("#root")
    </script>
</body>

</html>